@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto Slab", serif !important;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-image {
  width: 100%;
}
